<%= @error %>

<% if @games != [] %>
  <% @games.each do |g| %>
  <p>Creator: <%= g.creator.username %></p>
  <a href="/game/<%=g.id%>/join">Join the game. mothafucka.</a>
  <% end %>
<% else %>
  <h4>No games are currently available.</h4>
<% end %>

<h3 id="create_game"><a href="/create_game">Start a new game!</a></h3>
