<%= @errors %>

<% if Game.all != [] %>
  <% Game.find_all_by_joiner(nil).each do |game| %>
  <p>Creator: <%= game.creator %></p><br>
  <a href="/game/<%=game.id%>/join">Join the game. mothafucka.</a>
  <% end %>
<% else %>
  <h4>No games are currently available.</h4>
<% end %>

<h3 id="create_game"><a href="/create_game">Start a new game!</a></h3>
